  <!-- CATEGORIES -->
<section>
  <div class="row no-gutters d-block d-lg-flex flickity flickity-lg-none" data-flickity="{&quot;watchCSS&quot;: true}">

    <!-- Item -->
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url(https://i.pinimg.com/564x/f2/5b/b1/f25bb1309dcdf74d58883b40542186ff.jpg);">

      
      <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
        <div class="card-body mt-auto mb-n11 py-8">

        </div>
        <div class="card-body mt-auto py-8">

          <!-- Button -->

          <b><%= link_to products_path(type: "women"), class: "title-home" do %>
            Shop Women
          <% end %></b>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url(https://i.pinimg.com/564x/34/30/f4/3430f4ecb6f6662a55b67038842653c9.jpg);">
      <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
        <div class="card-body mt-auto mb-n11 py-8">

        </div>
        <div class="card-body mt-auto py-8">

          <!-- Button -->
          <b><%= link_to products_path(type: "men"), class: "title-home" do %>
            Shop Men
          <% end %></b>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url(https://d2q2f0pfv13tpb.cloudfront.net/wp-content/uploads/2017/04/Zara-Kids.jpg);">
      <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
        <div class="card-body mt-auto mb-n11 py-8">

        </div>
        <div class="card-body mt-auto py-8">

          <b><%= link_to products_path(type: "kid"), class: "title-home" do %>
            Shop Kids
          <% end %></b>
        </div>
      </div>
    </div>


            

  </div>
</section>

<!-- FEATURES -->
<section class="pt-7">
  <div class="container">
    <div class="row pb-7 border-bottom">
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex mb-6 mb-lg-0">

          <!-- Icon -->
          <i class="fe fe-truck font-size-lg text-primary"></i>

          <!-- Body -->
          <div class="ml-6">

            <!-- Heading -->
            <h6 class="heading-xxs mb-1">
              Miễn phí giao hàng
            </h6>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-muted">
              Cho tất cả các đơn hàng từ 2 triệu đồng 
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex mb-6 mb-lg-0">

          <!-- Icon -->
          <i class="fe fe-repeat font-size-lg text-primary"></i>

          <!-- Body -->
          <div class="ml-6">

            <!-- Heading -->
            <h6 class="mb-1 heading-xxs">
              Miễn phí đổi trả
            </h6>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-muted">
              Hoàn tiền trong 30 ngày
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex mb-6 mb-md-0">

          <!-- Icon -->
          <i class="fe fe-lock font-size-lg text-primary"></i>

          <!-- Body -->
          <div class="ml-6">

            <!-- Heading -->
            <h6 class="mb-1 heading-xxs">
              Mua sắm an toàn
            </h6>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-muted">
              Đang ở trong tay bạn 
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex">

          <!-- Icon -->
          <i class="fe fe-tag font-size-lg text-primary"></i>

          <!-- Body -->
          <div class="ml-6">

            <!-- Heading -->
            <h6 class="mb-1 heading-xxs">
              Hơn 10,000 lựa chọn
            </h6>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-muted">
              Chúng tôi có tất cả mọi thứ bạn cần
            </p>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<!-- BEST PICKS -->


    <!-- TOP SELLERS -->
<section class="py-12">
  <div class="container">
    <div class="justify-content-center">


      <!-- Heading -->
      <h2 class="text-center">Top month Sellers</h2>
    </div><br><br>

     
        <div class ="row" >
          <% @products.each do |product| %>
            <% Product.buy_count.each do |product_count| %>
              <%if product.id == product_count.first %>
                <div class="best_seller">
                  <%= render product %>
                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Title -->
                    <div class="font-weight-bold">
                      <a class="text-body" href="product.html">
                        <%= product.name %>
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="price">
                      <%= product.price %> VND
                    </div>
                    
                  </div>
                </div>                  
              <%end%>        
            <%end%>
          <%end%>
        </div>             
    </div>  
   
</section class = "sell-off">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">
          Giá hấp dẫn 
        </h6>
        <!-- Heading -->
        <h2 class="mb-4">Sản phẩm giảm giá</h2>
        <!-- Subheading -->
        <p class="mb-10 text-gray-500">
          HOT SALE!
        </p>
      </div>
    </div>
    
  </div>
  <div class="container">
  <div class="col-10 col-md-5 col-lg-4 d-flex flex-column">
    <!-- Card -->
    <div class="card mb-7 text-white" style="min-height: 400px; background-image: url(https://static.zara.net/photos///2020/I/0/2/p/2753/501/091/2/w/244/2753501091_1_1_1.jpg?ts=1594061418088)">
      <!-- Background -->
      <div class="card-bg">
        <div class="card-bg-img bg-cover" style="background-image: url(assets/img/products/product-1.jpg);"></div>
      </div>
      <!-- Body -->
      <div class="card-body my-auto text-center">
        <!-- Heading -->
        <h4 class="mb-0">Bags Collection</h4>
        <!-- Link -->
        <p class="btn btn-link stretched-link text-reset">
          Shop Now <i class="fe fe-arrow-right ml-2"></i>
        </p>
      </div>
    </div>
  </div>
      <div class="col-10 col-md-7 col-lg-8 d-flex flex-column">
        <!-- Card -->
        <div class="card mb-7 text-body" style="min-height: 400px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url(https://thefashionlaw.com/wp-content/uploads/2020/03/706_image-asset.jpg);"></div>
          </div>

          <!-- Body -->
          <div class="card-body my-auto px-md-10 text-center text-md-left">

            <!-- Circle -->
            <div class="card-circle card-circle-lg card-circle-right">
              <strong>save</strong>
              <span class="font-size-h4 font-weight-bold">30%</span>
            </div>

            <!-- Heading -->
            

            <!-- Link -->
            

            <%= link_to "Giá ưu đãi ", products_path(type: "sale_off"), class: "mb-0" %>

          </div>

        </div>

      </div>
      <div class="col-10 col-md-7 col-lg-8 d-flex flex-column">

        <!-- Card -->
        <div class="card mb-7 mb-md-0 text-body" style="min-height: 400px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url(https://www.businessoffashion.com/articles/intelligence/site/uploads/2017/07/moderncitizen.jpg);"></div>
          </div>

          <!-- Body -->
          <div class="card-body my-auto px-md-10 text-center text-md-left">

            <!-- Heading -->
            <h4 class="mb-0">Basic women’s Dresses</h4>

            <!-- Link -->
            <a class="btn btn-link stretched-link px-0 text-reset" href="shop.html">
              Shop Now <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>

        </div>

      </div>
      <div class="col-10 col-md-5 col-lg-4 d-flex flex-column">

        <!-- Card -->
        <div class="card text-white" style="min-height: 400px;">

          <!-- Background -->
          <div class="card-bg">
            <div class="card-bg-img bg-cover" style="background-image: url(https://i.pinimg.com/originals/a3/61/7f/a3617f84225eca7b61c71de2886e267d.jpg);"></div>
          </div>

          <!-- Body -->
          <div class="card-body my-auto text-center">

            <!-- Heading -->
            <h4 class="mb-0">Sweatshirts</h4>

            <!-- Link -->
            <a class="btn btn-link stretched-link text-reset" href="shop.html">
              Shop Now <i class="fe fe-arrow-right ml-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

    <!-- BRANDS -->
<section class="py-12 bg-light" style=" margin: 0;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h2 class="mb-3">Sản phẩm bạn đã xem</h2>

        <!-- Subheading -->
        <p class="mb-10 font-size-lg text-gray-500">
          Appear, dry there darkness they're seas, dry waters.
        </p>

      </div>
    </div>
    <div class="row mx-n1 mb-10">
      <% if !session[:viewed_product].nil? %>       
        <% @products.each do |product| %>
          <div class="vp">
            <%= render product %>
            <!-- Body -->
          </div>
        <% end %>                             
      <% end %>           
    </div>
  </div>
</section>
         