<% provide(:title, "Log in") %>
<h3 class = "title">Đăng nhập</h3>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url: login_path) do |f| %>
		
			<%= f.label :email, "Email:" %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password, "Mật khẩu:" %>
			<%= f.password_field :password, class: 'form-control' %>
			
			<%= f.label :remember_me, class: "checkbox inline" do %>
				<%= f.check_box :remember_me %>
				<span>Nhớ tài khoản trong thiết bị này</span>
			<% end %>
			<%= f.submit "Đăng nhập", class: "submit" %>
		<% end %>
		<b class = "sign-up">Bạn chưa có tài khoản? <%= link_to "Tạo tài khoản ở đây.", signup_path %></b>
	</div>
</div>