<%product = Product.find(order_detail.product_id)%>
<ul class="list-group list-group-lg list-group-flush">
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-4">

         <%= link_to "#" do %>
            <%= image_tag product.image if product.image.attached? %>
          <% end %>


      </div>
      <div class="col-8">
        <p class="font-size-sm font-weight-bold mb-6">
          <a class="text-body" href="#">
            <%= "#{product.name}" %></a>
            <p class="soluong">Số lương: <%= order_detail.quantity %> </p> 
          <span class="text-muted"><%= "#{product.discount_price} VND" %></span>
        </p>
      </div>
    </div>
  </li>      
</ul>