<div class="modal-content">
    <div class="modal-header line-height-fixed font-size-lg">
		<strong class="mx-auto">Don hàng của bạn </strong>
    </div>
    <%= render 'shared/feed_2' %>   
	<div class = "sum">Tổng tiền: <%= @order.total_price %>VND</div>
	<div class = "sum">Trạng thái đơn hàng: <%= @order.order_status %></div>
	<%= form_for @order, url: order_path(@order.id), method: :put do |f| %>
		<%= f.hidden_field :user_id, value: @order.user_id%>
		<%= f.hidden_field :total_price, value: @order.total_price%>
		<%= f.hidden_field :name, value: @order.name %>
		<%= f.hidden_field :address, value: @order.address %>
		<%= f.hidden_field :phone, value: @order.phone %>
		<%= f.hidden_field :order_status, value: 6 %>
		<%= f.submit "Hủy đơn hàng" %>
	<% end %>
</div>


