<% provide(:title, 'gio hang cua ban') %>

<div class="modal-content">
    <div class="modal-header line-height-fixed font-size-lg">
    	<%if @order_details.nil?%>
			<div class="list-group list-group-lg list-group-flush cart">
				<strong class="mx-auto">Giỏ hàng của bạn (0)</strong>
			    <p class="empty">Chưa có sản phẩm nào trong giỏ hàng</p>
			    	<%= link_to 'TIẾP TỤC MUA SẮM', root_path, class:"order" %>
	    	</div>
    	<%else%>
	        <% @count = 0%>
			<% @order_details.each do |order_detail| %>
				<% quantity = order_detail.last %>
				<% @count += quantity %>
				
			<% end %>	
       		<strong class="mx-auto">Giỏ hàng của bạn (<%= @count %>)</strong>
  
    </div>

		    <ul class="list-group list-group-lg list-group-flush">
			    <% @sum = 0%>
			    <% @count = 0%>
			  

				<% @order_details.each do |order_detail|  %>
					 
					<% @product = Product.find(order_detail.first.to_i)%>
					<% quantity = order_detail.last %>
		
					<% unit_price = @product.discount_price*quantity %>

		          <!-- List group -->
			      
			      
			            <li class="list-group-item"  id="product-<%= @product.id %>">
			              <div class="row align-items-center">
			                <div class="col-4">

			                  <!-- Image -->
			                  <%= link_to product_path(order_detail.first.to_i) do %>
						        <%= image_tag @product.image if @product.image.attached? %>
						      <% end %>

			                </div>
			                <div class="col-8">

			                  <!-- Title -->
			                  <p class="font-size-sm font-weight-bold mb-6">
			                    <a class="text-body-<%= @product.id %>" href="#">

			                    	<%= @product.name %></a>
			                    <p class="text-body-<%= @product.id %>">Size </p>
		                    	<p id="list-<%= @product.id %>">Số lượng:

		                    		<span id = "minus-<%= @product.id %>"><%= link_to '-', edit_cart_path(order_detail.first.to_i), class:"btn-button" ,remote:true  %></span>
		                    		<span id ="pro-<%= @product.id %>"><%= @quantity %></span>
		                    		<%= quantity %>
									<span id = "plus-<%= @product.id %>"><%= link_to '+', edit_cart_path(order_detail.first.to_i, val: "add"), remote: true,class:"btn-button"%></span></br>

		                    		<span class="text-muted"><%= "#{ @product.discount_price} VND" %></span>
		                    	</p>

			                  </p>

			                  <!--Footer -->
			                  <div class="d-flex align-items-center">
				                    <!-- Remove -->
				                    <%= link_to 'Xóa khỏi giỏ hàng', cart_path(order_detail.first.to_i),
			                    	method: :delete, data: { confirm: "You sure?" }, remote: true, class:"font-size-xs text-gray-400 ml-auto" %>
			                  </div>

			                </div>
			              </div>
			            </li>
			   			<% @sum += unit_price %>       
			       		
		     	<% end %>
		     </ul> 
			    <div id = "sum-ajax" , align="center"> <span> Tổng tiền: <%= @sum %> VND </span></div>
			    <%= link_to 'Tiếp tục mua sắm', root_path, class:"order_1" %>
				<%= link_to 'Tiến hành đặt hàng', new_order_path, class:"order_2" %>
		<%end%>

</div>