<% provide(:title, 'gio hang cua ban') %>

<h1>All product</h1>

<ul class="cart">
	<% @sum = 0%>
	<% session[:cart].each do |order_detail| %>
		<% product = Product.find(order_detail.first.to_i)%>
		<% quantity = order_detail.last %>
		<%= "ten sp: #{product.name}" %></br>
		<%= "gia sp: #{product.price}" %></br>
		<%= "so lung sp: #{quantity}" %></br>
		<% unit_price = product.price*quantity %></br>
		<%= "unit_price: #{unit_price}" %></br>
		<% @sum += unit_price %>
	<% end %>
	
<div>tong tien: <%= @sum %> </div>


