<ul id="edit_subcomments-<%= sub_comment.id %>">
	<span class="user"><b><%= sub_comment.user.name %></b></span><br>
	<span id="content-<%= sub_comment.id %>"><%= sub_comment.content %></span><br>
	<span class="timestamp">
		Posted <%= time_ago_in_words(sub_comment.created_at) %> ago
		<%= link_to "delete", comment_sub_comment_path(sub_comment.comment, sub_comment), method: :delete, data: { confirm: "You sure?" },
		remote: true %>
		<span ><%= link_to "edit",  edit_comment_sub_comment_path(sub_comment.comment, sub_comment),
	 	remote: true %></span>
	</span>
	<div id="edit_form-<%= sub_comment.id %>"></div>
	<hr width ="900 px">
</ul>	



