
<div class="col-6 col-md-4">
  <!-- Card -->
  <div class="card mb-7">

    <!-- Image -->
    <div class="card-img">
      <!-- Image -->

      <%= link_to product_path(product.id) do %>
        <%= image_tag product.image if product.image.attached? %>
      <% end %>

      <!-- Actions -->
      <div class="card-actions">
        <span class="card-action">
        <%= link_to product_path(product.id) do %>
          <img src="https://www.iconfinder.com/data/icons/shopping-icons-5/100/Eye-512.png" alt="eye" />  
        <% end %>
         
        </span>
        <span class="card-action">
          <%= link_to cart_path(product.id), method: :put, remote:true do %>
            <img src="https://www.iconfinder.com/data/icons/shopping-icons-5/100/Cart-512.png" alt="cart" />
          <% end %>
        </span>
      </div>

    </div>

    <!-- Body -->
    <div class="card-body px-0">

      <!-- Title -->
      <div class="font-weight-bold">
        <a class="text-body" href="product.html">
          <%= product.name %>
        </a>
      </div>

      <!-- Price -->
      <div class="price">
        <%= product.price %>.000 VND
      </div>

      <%if current_user.admin? %>
        <%= link_to "edit", login_path %>
        <%= link_to "delete", product_path(product.id), method: :delete %>
      <%end%>

    </div>

  </div>

</div>



