<div class="container">  
  <div class="top-image" style="background-image: url(https://www.evolvear.io/augmented-reality-blog/wp-content/uploads/2019/06/shutterstock_1135650530-min-1140x694.jpg);">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <h1 class="mb-0 text-center text-white">
        We believe we can all make a stylish.
      </h1>
    </div>
  </div>
      
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <nav class="mb-10 mb-md-0"  style="
         margin-top: 70px;">  
        <% if params[:type] == "women" %>     
          <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <%= link_to "Tất cả sản phẩm", products_path %>
            <%= link_to "Thời trang nữ", products_path(type: "women"), class: "orders" %>
            <%= link_to "Thời trang nam", products_path(type: "men") %>  
            <%= link_to "Thời trang trẻ em", products_path(type: "kid") %>
          </div>
        <% elsif params[:type] == "men" %>
            <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <%= link_to "Tất cả sản phẩm", products_path %>
            <%= link_to "Thời trang nữ", products_path(type: "women") %>
            <%= link_to "Thời trang nam", products_path(type: "men"), class: "orders" %>  
            <%= link_to "Thời trang trẻ em", products_path(type: "kid") %>
          </div>
        <% elsif params[:type] == "kid" %>
          <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <%= link_to "Tất cả sản phẩm", products_path %>
            <%= link_to "Thời trang nữ", products_path(type: "women") %>
            <%= link_to "Thời trang nam", products_path(type: "men") %>  
            <%= link_to "Thời trang trẻ em", products_path(type: "kid"), class: "orders" %>
          </div>
        <%else%>
          <div class="list-group list-group-sm list-group-strong list-group-flush-x">
            <%= link_to "Tất cả sản phẩm", products_path, class: "orders" %>
            <%= link_to "Thời trang nữ", products_path(type: "women") %>
            <%= link_to "Thời trang nam", products_path(type: "men") %>  
            <%= link_to "Thời trang trẻ em", products_path(type: "kid") %>
          </div>
        <%end%>
      </nav>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <!-- Slider -->
      <div class="flickity-page-dots-inner mb-9 flickity-enabled is-draggable" data-flickity="{&quot;pageDots&quot;: true}" tabindex="0">

        <div class="flickity-viewport" style="height: 404px; touch-action: pan-y;">
          <div class="flickity-slider" style="left: 0px; transform: translateX(-300%);">
            <div class="w-100 is-selected" style="position: absolute; left: 300%;">
              <div class="card bg-h-100 bg-left" style="background-image: url(assets/img/covers/cover-24.jpg);">
                <div class="row" style="min-height: 400px;">
                  <div class="index-pr">
                    <div class="row align-items-center mb-7 all">
                      <div class="col-12 col-md">
                        <% if params[:type] == "women" %>
                          <!-- Heading -->
                          <h3 class="mb-1">Thời trang nữ</h3>

                          <!-- Breadcrumb -->
                          <ol class="breadcrumb mb-md-0 font-size-xs text-gray-400">
                            <li class="breadcrumb-item">
                              <a class="text-gray-400" href="index.html">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                              Thời trang nữ
                            </li>
                          </ol>
                        <% elsif params[:type] == "men" %>
                          <!-- Heading -->
                          <h3 class="mb-1">Thời trang nam </h3>

                          <!-- Breadcrumb -->
                          <ol class="breadcrumb mb-md-0 font-size-xs text-gray-400">
                            <li class="breadcrumb-item">
                              <a class="text-gray-400" href="index.html">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                              Thời trang nam 
                            </li>
                          </ol>
                        <% elsif params[:type] == "kid" %>
                          <!-- Heading -->
                          <h3 class="mb-1">Thời trang trẻ em</h3>

                          <!-- Breadcrumb -->
                          <ol class="breadcrumb mb-md-0 font-size-xs text-gray-400">
                            <li class="breadcrumb-item">
                              <a class="text-gray-400" href="index.html">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                              Thời trang trẻ em 
                            </li>
                          </ol>
                        <% else %>
                          <!-- Heading -->
                          <h3 class="mb-1">Tất cả sản phẩm</h3>

                          <!-- Breadcrumb -->
                          <ol class="breadcrumb mb-md-0 font-size-xs text-gray-400">
                            <li class="breadcrumb-item">
                              <a class="text-gray-400" href="index.html">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                              Tất cả sản phẩm
                            </li>
                          </ol>
                        <% end %>
                      </div>
                    </div>
                    
                    <div class="row">
                      <% @products.each do |product| %>
                        <%= render product %>
                      <% end %>   

                      <%= will_paginate @products %>       
                    </div>
                  </div>
                </div>
              </div>
            </div>        
          </div>                        
        </div>
      </div>
    </div>
  </div>
</div>
      
    